[submodule "vendor/Amxx-Laser-TripMine-Entity"]
	path = vendor/Amxx-Laser-TripMine-Entity
	url = https://github.com/7err0x/Amxx-Laser-TripMine-Entity.git
	branch = master
[submodule "ebot"]
	path = ebot
	url = https://github.com/EfeDursun125/CS-EBOT.git
